.container.text-center.bigCalendarContainer
  .span12
    .span8
      .hero-unit
        h1  Render Calendar 
          b ROCKS!
    .span4.pull-right.calendarContainer
      .span4.day-preview
        .span4.day-preview-header
          h1.month  
          h4.year 
        .span4.day
          hr.invisible
          hr.invisible
          h1  
      .span4.full-month
        .full-month-header-container
          .span1.pull-left.arrow.arrow-left
            h2  <
          .span2 
            h2
          .span1.pull-right.arrow.arrow-right
            h2  >
          p.yearPreview
          p.breaker.invisible |
          .calendar-row-days
            .cell-header.activeHeader
            .cell-header
            .cell-header
            .cell-header
            .cell-header
            .cell-header
            .cell-header
            p.breaker.invisible |
          p.breaker.invisible |
        - for(var i=0; i<6; i++)
          - for(var j=0; j<7; j++)
            -if(i == 0 && j == 0)
              .activeCell.calendar-cell(class='c'+i+ ''+j )
            else
              .calendar-cell(class='c'+i+ ''+j )