extends layout

block custom-stylesheets
  link(rel='stylesheet', href='/stylesheets/own/calendar.css')

block content

  hr

  include calendar

  hr
block custom-scripts
  //for development. We use local scripts
  script(src='javascripts/angular/angular.min.js')
  script(src='javascripts/jquery/jquery.min.js')
  script(src='javascripts/own/calendar.js')
  //- for production. We use cdn minified scripts.
      tab back twice to add them to the page and comment 
      or delete the local links
      script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.0.5/angular.min.js')
      script(src='//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')